doctype html
html
	head
		title PGRestAPI
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/fonts/fonts.css')

		-if(css){
			-each csslink in css 
				link(rel='stylesheet', href= csslink)
		-}
		-if(scripts){
		-each script in scripts 
			script(type='text/javascript', src= script)
	
		-}	
	body
		div.header
			img(src='/img/logo.png',alt='logo',style='height:65px;')
		
		.container
			-if(breadcrumbs){
				div.breadcrumbs
					each crumb, idx in breadcrumbs
						-if(crumb.link == ""){
							span.blue #{crumb.name}
						-}else{
							a(href=crumb.link) #{crumb.name}
							-if(breadcrumbs.length > 1){
								-if(breadcrumbs.length == idx +2){
									&nbsp;
									span.blue &#9654;
									&nbsp;
								-}else{
									&nbsp;
									&#9654;
									&nbsp;
								-}
							-}
						-}
			-}
			.main-content.clearfix
				block content
		.sidebar
				block sidebar
	footer
		p Running on node with Express, Jade and Less