doctype 5
html
	head
		title PGRestAPI
		link(rel='stylesheet', href='/stylesheets/style.css')
		-if(css){
			-each csslink in css 
				link(rel='stylesheet', href= csslink)
		-}
		-if(scripts){
		-each script in scripts 
			script(type='text/javascript', src= script)
	
		-}	
	body
		div.header
			img(src='/img/logo.png',alt='logo')
		div.breadcrumbs
			-if(breadcrumbs){
				each crumb in breadcrumbs
					-if(crumb.link == ""){
						|#{crumb.name}
					-}else{
						a(href=crumb.link) #{crumb.name}
						-if(breadcrumbs.length > 1){
							&nbsp;
							>
							&nbsp;
						-}
					-}
			-}
		.container
			.main-content
				block content
		.sidebar
				block sidebar
	footer
		p Running on node with Express, Jade and Less