settings.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz


pids
logs
results
node_modules/

npm-debug.log

public/topojson/output/
public/geojson/output/
public/blast_output/

lib/datablaster/blast_config.js


Thumbs.db

.idea/

.DS_Store
