//Settings.js is not part of the repository.  However, it should be deployed with the application and contain deployment-specific settings.
//There is a settings.js.example file that should match the structure and properties of this file that IS checked in to the repo.
var settings = {};
var settingsNonsensitive = require("./settingsNonsensitive.js");

//Bring in the non sensitive stuff.
settings = settingsNonsensitive;

//Change to 'production' or 'test' depending on deployment.
process.env.NODE_ENV = 'development';

//application port settings
settings.application.port = 3001;
settings.application.ip = "localhost";

//Enable Security?
settings.enableSecurity = false;

//SSL Settings
settings.ssl = {};
settings.ssl.pfx = 'geo.pfx';
settings.ssl.password = '<password>';

//Express Session Secret
settings.expressSessionSecret = "specialsecret";

//Settings for postgres DB
settings.pg.username = 'postgres';
settings.pg.password = '<password>';
settings.pg.server = '<database-url>';
settings.pg.port = '5432';
settings.pg.database = 'redcross_prod';

//how many features to return by default - dont worry about this for RedCross
settings.pg.featureLimit = 1000;

//PROD SalesForce OAUTH settings
settings.salesforce = {};
settings.salesforce.ConsumerKey = "<long-garbled-string>"; //clientID
settings.salesforce.ClientSecret = "<just-positive-integers>";
settings.salesforce.Scope = ["id", "profile"];
settings.salesforce.CallbackURL = "https://geo.redcross.org/oauth2/callback";
settings.salesforce.authorizationURL = 'https://na14.salesforce.com/services/oauth2/authorize';
settings.salesforce.tokenURL = 'https://na14.salesforce.com/services/oauth2/token';

//Dev SalesForce OAUTH
//settings.salesforce = {};
//settings.salesforce.ConsumerKey = "<long-garbled-string>"; //clientID
//settings.salesforce.ClientSecret = "<just-positive-integers>;
//settings.salesforce.Scope = ["id", "profile"];
//settings.salesforce.CallbackURL = "https://geo.redcross.org/oauth2/callback";
//settings.salesforce.authorizationURL = 'https://cs19.salesforce.com/services/oauth2/authorize';
//settings.salesforce.tokenURL = 'https://cs19.salesforce.com/services/oauth2/token';

module.exports = settings;
