extends ../../../shared_views/layout

block content

	table
		thead
			tr
				th Services
		tbody
			- var items = opslist
			- each item in items
				tr
					td
						a(href="/services/" + item.link) #{item.name}
					
