extends layout

block content
	p
		| The following geoprocessing operations are available.

	table
		thead
			tr
				th GP Operations
		tbody
			- var items = opslist
			- each item in items
				tr
					td
						a(href=url + "/" + item.link) #{item.name}
					


block sidebar
	.widget
