extends layout

block content
	p
		| The following operations are available for your raster dataset.

	table
		thead
			tr
				th Operations
		tbody
			- var items = opslist
			- each item in items
				tr
					td
						a(href=path + "/" + item.link) #{item.name}
					