extends layout

block content
	p
		| Below is a list of columns and column data types for this table

	table
		thead
			tr
				th Columns
		tbody
			- var items = table_details
			- each item in items
				tr
					td= item.column_name + " (" + item.data_type + ")"
					-if(item.data_type == "raster") 


block sidebar
	.widget
		h2 Operations
		p
			a(href=url + "/query") Query
			&nbsp;
			- each item in items
				-if(item.data_type == "raster"){
					a(href=url +"/rasterOps") Raster Operations
				-}else if(item.data_type == "geometry"){
					a(href=url + "/topojson") TopoJSON
				-}