extends layout

block content
	p
		| Table Listing

	table
		thead
			tr
				th Name
		tbody
			- each item in featureCollection
				tr
					td
						a(href=url + "/tables/" + item) #{item}
						


block sidebar
	.widget