extends ../../../shared_views/layout

block content
	script.
		//Trigger Active Nav Link
		$("#vector-tiles").addClass("active");

	div.heading Vector Tiles

	span Vector Tiles are binary tile structures that efficiently deliver information to the client. The following Vector Tile datasets are available.

	div.bigSpace

	- var items = opslist
	- each item in items
		div.littleSpace
			a(href=url + "/" + item.link) #{item.name}
					


block sidebar
	.widget
