body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.propertyGroup {
  margin: 10px 0;
}
.inputTable {
  background-color: #E5EFF7;
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
}
.inputTable td {
  font-size: 0.90em;
  margin: 0px 0px 3px;
  padding: 3px 11px 5px 0;
}
.infoMessage {
  background-color: #FFFFE0;
  padding: 20px;
  border: 1px solid #000000;
  margin-top: 40px;
}
.errorMessage {
  background-color: pink;
  padding: 20px;
  border: 1px solid #000000;
  margin-top: 40px;
}
textarea {
  width: 200px;
  height: 100px;
}
.preview {
  margin-top: 50px;
}
#url {
  width: 400px;
}
#requestSample {
  background-color: #00f57f;
  padding: 15px;
  border: 1px solid #000000;
  word-wrap: break-word;
}
#topofilename {
  background-color: #D5D5D5;
}
.links a {
  margin-right: 10px;
}
pre {
  background-color: lightgray;
  padding: 20px;
}
