body {
  margin: 2px;
  font: 14px Arial, sans-serif;
  background: #e5e5e5;
  min-width: 960px;
}
a {
  color: #594242;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header {
  background-color: #fff;
  padding: 5px;
}
.container {
  background-color: #f2f2f2;
  margin: 30px 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #cdcdcd;
  padding: 0px 0px 20px 0px;
}
.section {
  margin: 40px 0px;
}
/*Code Block*/
.headingTitle {
  font-weight: bold;
  font-size: 16px;
}
.sampleCodeButtonWrapper {
  margin: 15px 40px;
}
.sampleCodeButton {
  padding: 10px 20px;
  border: 1px solid #1b75ba;
  display: inline-block;
  cursor: pointer;
}
.sampleCodeButton:hover {
  background-color: #c2c2c2;
}
/*End Code Block*/
.bigSpace {
  margin-top: 20px;
}
.littleSpace {
  margin-top: 5px;
  margin-bottom: 5px;
}
.spacer {
  height: 20px;
}
.propertyGroup {
  margin: 10px 0;
}
.inputTable {
  padding: 5px;
  margin: 10px 0px 3px;
}
.inputTable td {
  font-size: 0.90em;
  margin: 0px 0px 3px;
  padding: 3px 11px 5px 0;
}
.inputTable td label {
  float: right;
}
.infoMessage {
  background-color: #FFFFE0;
  padding: 20px;
  border: 1px solid #000000;
  margin-top: 40px;
}
.errorMessage {
  background-color: pink;
  padding: 20px;
  border: 1px solid #000000;
  margin-top: 40px;
}
textarea {
  width: 200px;
  height: 100px;
}
.preview {
  margin-top: 50px;
}
#url {
  width: 400px;
}
#requestSample {
  background-color: #00f57f;
  padding: 15px;
  border: 1px solid #000000;
  word-wrap: break-word;
}
#topofilename {
  background-color: #D5D5D5;
}
.links a:hover {
  background-color: #c2c2c2;
  text-decoration: none;
}
.links a {
  margin-right: 10px;
  padding: 10px 20px;
  border: 1px solid #1b75ba;
  display: inline-block;
  cursor: pointer;
}
.main-content div a {
  color: #5969ae;
}
.main-content .heading {
  font-family: futura__condensed;
  text-transform: uppercase;
  font-size: 30px;
  margin: 5px 0;
}
pre {
  background-color: lightgray;
  padding: 20px;
}
.breadcrumbs {
  background-color: #e8e8e8;
  padding: 20px;
}
.container table {
  margin-top: 25px;
}
.container th {
  text-align: left;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  background-color: #f1f1f1;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  background-color: #f1f1f1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  background-color: #f1f1f1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
  background-color: #f1f1f1;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
  background-color: #f1f1f1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999;
  background-color: #f1f1f1;
}
.main-content {
  position: relative;
  padding: 20px;
}
.floatingColumns {
  float: left;
  margin-right: 60px;
}
.floatingColumns .littleSpace {
  margin-left: 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  margin: 0px;
  background-color: #f1f1f2;
}
.floatingColumns .columnList .littleSpace:first-child {
  border-top: 1px solid #000;
}
.widget {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.geometry {
  word-wrap: break-word;
}
