extends ../../../shared_views/layout

block content
	p
		| Below is a list of columns and column data types for this table

	table
		thead
			tr
				th Columns
		tbody
			-if(featureCollection && featureCollection.columns){
				- each item in featureCollection.columns
					tr
						td= item.column_name + " (" + item.data_type + ")"
						-if(item.data_type == "raster") 
			-}


block sidebar
	.widget
		h2 Operations
		div.links
			- each operation in featureCollection.supportedOperations
				a(href=operation.link) #{operation.name}
				