doctype 5
html
    head
        title Passport Authentication Tutorial
        block links
            link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    body
        div.container
            block content
        script(src='bower_components/jquery/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        block scripts
