form(id="signup", method="POST", action="/signup")
    lable(for='email') Email
    input#email(type='text', name='email')
    lable(for='password') Password
    input#password(type='password', name='password')
    input(type="submit", value="SignUp")