extends ../../../shared_views/layout

block content
	script.
		//Trigger Active Nav Link
		$("#vector-tiles").addClass("active");

	div.heading #{name}

	span #{description}
	

block apidoc
	-if(requestSample.length > 0){

		div.section.code

			div.codeSamplesHeader Code Sample
		
			div.codeBody

				span Here's how to hit this endpoint programatically.

				div.requestHeader GET

				div.requestContent

					pre.prettyprint.linenums
						span.nocode.str #{requestSample}
				
	-}