extends ../../../shared_views/layout

block content
	script.
		//Trigger Active Nav Link
		$("#geoprocessing").addClass("active");

	div.heading Geoprocessing Operations

	span Geoprocessing services are simply custom functions (created ahead of time) exposed thru this API. The following geoprocessing operations are available.

	div.bigSpace

	- var items = opslist
	- each item in items
		div.littleSpace
			a(href=url + "/" + item.link) #{item.name}
					


block sidebar
	.widget
